@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

 
:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--main-color);
    background-size: 35%;  /* Adjust the percentage as desired */
    background-position: right;
    background-image: url('https://mohdwaqas20.github.io/OCTANET_JULY/LANDING PAGE/logo.png');
    background-repeat: no-repeat;
    background-position-y: 80px; 
    background-position-x: 750px; 
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color:  #226A80;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}
header .logo:hover{
    color: orangered;
}
header .navigation a{
    color: #000;
    background: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: var(--bg-color);
    color: var(--main-color);
    
}

.content{
    max-width: 650px;
    margin: 60px 100px;
}
.content .info h2{
    color: #226A80;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
.content .info h2:hover{
    color: var(--bg-color);
}

.content .info h2 span{
    color: orange;
    font-size: 55px;
    font-weight: 600;
    text-transform: none;
}
.content .info h2 span:hover{
    color: white;
}
.content .info p{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #226A80;
    
}

.content .info p:hover{
    color: var(--bg-color);
    
}

.content .info-btn {
    color: var(--text-color);
    background-color: var(--second-bg-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}
.content .info-btn:hover{
    background: var(--bg-color);
}


.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.media-icons a{
    position: relative;
    color: var(--bg-color);
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}
.media-icons a:not(:last-child){
    margin-right: 60px;
}
.media-icons a:hover{
    transform: scale(1.5);
}





label{
    display: none;
}
#check{
    z-index: 3;
    display: none;
}


/*Responsive Styles...*/
@media (max-width: 2000px){
    section{
        background-size: 30%;
        background-position-y: 50px; 
        background-position-x: 1200px; 
    }
    
}
@media (max-width: 1860px){
    section{
        background-size: 30%;
        background-position-y: 50px; 
        background-position-x: 1100px; 
    }
    
}

@media (max-width: 1720px){
    section{
        background-size: 30%;
        background-position-y: 70px; 
        background-position-x: 1000px; 
    }
    
}
@media (max-width: 1560px){
    section{
        background-size: 30%;
        background-position-y: 70px; 
        background-position-x: 800px; 
    }
    
}

@media (max-width: 1200px){
   section{
    background-image: none;
   }
}
@media (max-width: 960px){
    header .navigation{
        display: none;
    }
    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }
    label:hover{
        color: #fff;
    }
    label .close-btn{
        display: none;

    }
    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: rgba(114, 223, 235, 0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #check:checked ~ header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }
    #check:checked ~ header label .menu-btn{
        display: none;
    }
    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;

    }
    label .menu-btn{
        position: absolute;
    }
    header .logo{
        position: absolute;
        bottom: -25px;
        padding-right: 10%;
    }
    .content .info h2{
        font-size: 45px;
        line-height: 50px;
    }
    .content .info h2 span{
        font-size: 40px;
        font-weight: 600;
    }
    .content .info p{
        font-size: 14px;
    }
    
    section{
        background-image: none;
    }
}
@media (max-width:560px){
    .content .info h2{
        font-size: 35px;
        line-height: 40px;
    }
    .content .info h2 span{
        font-size: 30px;
        font-weight: 600;
    }
    .content .info p{
        font-size: 14px;
    }
    section{
        background-image: none;
    }
}